
.header{
    
    height: 200%;
    text-align: center;
    color: black;
    
    


    margin-bottom: 3%;
}

#backgroundheader{
    position: static;
    transform: scaleX(.99);

    

    top: 4.2%;
    left: -1%;
    
}

#headerimage{
    width:100%;
}

#heading{
    font-size: 45px;
}

#headertext{
    position: absolute;
    color: white;
    font-size: 200px;
    width:30%;
    top: 0px;
    left:35%;
    font-size: 45px;
    
    
}

body{
    
    background: linear-gradient(to right, #dec3c3, #ffffff);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.imagewrapperwrapper{
    /*background-color: red;*/
    width: 93%;
    margin-left: auto;
    
    
    
    
}


#left_images{
    width: 30%;
    float: left;
    height: 100%;
    
}
#right_images{
    width: 30%;
    float: left;
}
#middle_images{
    width: 30%;
    float: left;
    margin-left: .7%;
    margin-right: .7%;
}


.left_image{
    width: 100%;
    
}
.right_image{
    width: 100%;
}
.middle_image{
    width: 100%;
    
}



#footerimg{
    margin-top: 2%;
    width: 85%;
    margin-left: 7%;
    
}




/* for mobile devices*/
@media only screen and (max-width: 500px){
    #heading{
        font-size: 25px;
    }
    #headertext{
        font-size: 25px;
    }

    /*adapt images*/
    #left_images{
        width: 100%;
        float: none;
       
        
    }
    #right_images{
        width: 100%;
        float: none;
    }
    #middle_images{
        width: 100%;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
    }

    .imagewrapperwrapper{
        margin-left: none;
        width: 100%;
    }
    

    /* adapt header image*/
    #headerimage{
        transform: scale(2, 2);
        margin: 0px;
        
        
        
    }
    #backgroundheader{
        max-width: 107%;
        overflow: hidden;
        margin-left: 0px;
        
        
    }

    .header{
        margin-bottom: 10%;
    }

    /* adapt down image*/
    #footerimg{
        width: 100%;
        margin-left: 0px;
    }

}